<div id="<%= dom_id magazynier %>">
  <p>
    <strong>Name:</strong>
    <%= magazynier.Name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= magazynier.Surname %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= magazynier.Salary %>
  </p>

  <p>
    <strong>Shift:</strong>
    <%= magazynier.Shift %>
  </p>

  <p>
    <strong>Magazyn:</strong>
    <%= magazynier.magazyn_id %>
  </p>

</div>
