<div id="<%= dom_id dyrektor %>">
  <p>
    <strong>Name:</strong>
    <%= dyrektor.Name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= dyrektor.Surname %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= dyrektor.Salary %>
  </p>

  <p>
    <strong>Magazyn:</strong>
    <%= dyrektor.magazyn_id %>
  </p>

</div>
