<div id="<%= dom_id magazyn %>">
  <h1><%= magazyn.City %> <%= magazyn.Street %></h1>
  <p>
    <strong>Postalcode:</strong>
    <%= magazyn.PostalCode %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= magazyn.Country %>
  </p>

</div>
